Package: com.dao.tgextra
Name: TGExtra(rootless)
Version: 1.2
Architecture: iphoneos-arm
Description: 支持Telegram、Swiftgram的功能插件，能保存频道限制下载文件、禁用广告等；设置—>长按[Telegram官方客服]打开插件。
Maintainer: choco
Author: choco
Section: 嗨-工具
Conflicts: com.choco.tg

